.PageFooter {
  color: #ffffff;
  background: #002355;
  text-align: center;
  width: 100%;
}

.PageFooter a,
.PageFooter a:hover,
.PageFooter a:active,
.PageFooter a:visited {
  color: #ffffff;
}

.PageFooter-text {
  margin: 0;
}

.PageFooter-fade,
.PageFooter-svg,
.PageFooter-link-text {
  opacity: 0.5;
}

.PageFooter-svg {
  padding: 0 0.2em;
}

.PageFooter-svg:hover {
  opacity: 1;
}

.PageFooter-svg svg {
  height: 1em;
  width: 1em;
  fill: #fff;
  position: relative;
  top: 0.2em;
}

.PageFooter-link-text {
  font-size: 0.9em;
}

.PageFooter-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1em;
}
